## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [ ]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [3]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

print(sum([elem for elem in list_01 if 10 < elem < 100 or 200 < elem < 500]))

1291

#### Задача 2

Дана строка:

In [4]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [14]:
import re
def word_start_with(letter, some_string):
    word_list = re.sub(r'[^\w\s]', '', some_string.lower()).strip().split()
    for word in word_list:
        if word[0] == letter:
            print(word)
    
word_start_with('w', some_string)

written
winners
when
winner
writes
which
what

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

In [30]:
import random
numbers = [str(random.randint(0, 9)) for i in range(6)] 
numbers[random.randint(0, 5)] = '3'
''.join(numbers)

'430388'

#### Задача 4

Данные студентов представлены в виде списка списков:

In [61]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [63]:
students_dict = {}

for student in students:
    students_dict[student[0]] = student[1:]
    
print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [45]:
def fio_in_group(group):

    fio_list = []

    for key, value in students_dict.items():
        if value[-1] == group:
            fio_list.append(' '.join(value[0:3]))
        
    fio_list.sort()

    for num, fio in enumerate(fio_list):
        print(num, fio)
    
fio_in_group('БСТ100')

0 Волкова Галина Сергеевна

In [58]:
def fio_all():

    fio_list = []

    for key, value in students_dict.items():
        print(f'{key} - {" ".join(value)}')

    
fio_all()

0001 - Волкова Галина Сергеевна 18.12.2022 БСТ100
1102 - Богов Артем Игоревич 25.01.2010 БСТ162
0333 - Глаголева Анастасия Николаевна 11.07.2009 БСТ163
4004 - Степанова Наталья Александровна 13.02.2008 БСТ161
0045 - Боков Игорь Харитонович 02.06.2009 БСТ161
0096 - Васильков Валентин Сергеевич 20.03.2009 БСТ164
0607 - Сиропова Виолетта Эдуардовна 28.05.2010 БСТ162
4014 - Потапов Дмитрий Станиславович 14.02.2012 БСТ161

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_date (выводит на экран данные студента).

In [126]:
class Student:
    def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):
        self.db_s_id = None
        self.s_id = s_id
        self.last_name = last_name
        self.first_name = first_name
        self.patronomic_name = patronomic_name
        self.date = date
        self.group = group
        
        
    def add_to_dict(self):
        students_dict[self.s_id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]
        self.db_s_id = self.s_id
        
    def update_dict(self):
        if self.db_s_id is not None:
            if self.db_s_id != self.s_id:
                students_dict.pop(self.db_s_id)
            
            self.add_to_dict()
        
    def change_group(self, new_group):
        self.group = new_group
        
    def change_id(self, new_id):
        self.s_id = new_id
        
    def print_data(self):
         print(self.s_id, self.last_name, self.first_name, self.patronomic_name, self.date, self.group)

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [118]:
volkova = Student('0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [64]:
fio_all()

0001 - Антонов Антон Игоревич 20.08.2009 БСТ161
1102 - Богов Артем Игоревич 25.01.2010 БСТ162
0333 - Глаголева Анастасия Николаевна 11.07.2009 БСТ163
4004 - Степанова Наталья Александровна 13.02.2008 БСТ161
0045 - Боков Игорь Харитонович 02.06.2009 БСТ161
0096 - Васильков Валентин Сергеевич 20.03.2009 БСТ164
0607 - Сиропова Виолетта Эдуардовна 28.05.2010 БСТ162
4014 - Потапов Дмитрий Станиславович 14.02.2012 БСТ161

In [125]:


volkova.change_id('0004')

#volkova.change_group('БСТ163')
volkova.add_to_dict()
#volkova.update_dict()



volkova.print_data()
print('--')
fio_all()

0004 Волкова Галина Сергеевна 18.12.2022 БСТ100
--
1102 - Богов Артем Игоревич 25.01.2010 БСТ162
0333 - Глаголева Анастасия Николаевна 11.07.2009 БСТ163
4004 - Степанова Наталья Александровна 13.02.2008 БСТ161
0045 - Боков Игорь Харитонович 02.06.2009 БСТ161
0096 - Васильков Валентин Сергеевич 20.03.2009 БСТ164
0607 - Сиропова Виолетта Эдуардовна 28.05.2010 БСТ162
4014 - Потапов Дмитрий Станиславович 14.02.2012 БСТ161
0003 - Волкова Галина Сергеевна 18.12.2022 БСТ100
0004 - Волкова Галина Сергеевна 18.12.2022 БСТ100

In [117]:
students_dict.pop('222')
fio_all()

1102 - Богов Артем Игоревич 25.01.2010 БСТ162
0333 - Глаголева Анастасия Николаевна 11.07.2009 БСТ163
4004 - Степанова Наталья Александровна 13.02.2008 БСТ161
0045 - Боков Игорь Харитонович 02.06.2009 БСТ161
0096 - Васильков Валентин Сергеевич 20.03.2009 БСТ164
0607 - Сиропова Виолетта Эдуардовна 28.05.2010 БСТ162
4014 - Потапов Дмитрий Станиславович 14.02.2012 БСТ161

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в maytix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [48]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [54]:
matrix_t = [list(range(0, len(matrix))) for i in range(0, len(matrix[0]))]

for i, line in enumerate(matrix):
    for j, elem in enumerate(line):
        matrix_t[j][i] = elem
        
print(matrix_t)

[[0, 6, 3, 4, 5], [1, 2, 3, 6, 7], [2, 2, 3, 7, 3], [4, 1, 3, 1, 4], [8, 9, 3, 2, 0]]